@font-face {
    font-family: "Norse";
    src: url('https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf');
}

* {
    box-sizing: border-box;
}

html, body {
    min-width: 890px;
    margin: auto;
    padding: 0;
}

.main {
    background-color: white;
    display: flex;
    margin: auto;
    min-height: 100vh;
}

.left-part {
    width: 30%;
    background: url(./images/background.jpg) no-repeat center bottom;
    background-size: cover;
    position: relative;
}

.right-part {
    width: 70%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 100px 200px 25px 25px;
}

.right-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 10px 200px 15px 25px;
    box-shadow: 0 15px 20px -17px gray;
}

.forms {
    display: flex;
    flex-wrap: wrap;
}

.form {
    width: 50%;
}

input, label {
    display: flex;
    flex-direction: column;
}

.footer {
    padding: 25px 0 115px 25px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
    height: 15%;
    background: rgba(5, 5, 5, .6);
    color: white;
    text-align: center;
    font-family: Norse, serif;
    font-size: 12vh;
}

.logo > img {
    max-width: 90%;
    max-height: 90%;
}

.photo-credits {
    position: absolute;
    bottom: 0;
    padding: 0 auto;
    color: white;
    width: 100%;
    text-align: center;
}

.photo-credits > p > a {
    color: white;
}