@import url('https://fonts.googleapis.com/css2?family=Roboto');

@font-face {
    font-family: "Norse";
    src: url('https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf');
}

* {
    box-sizing: border-box;
    --font-default: 400 calc(1.8vh + 0.5vw) 'Roboto', serif;
}

html, body {
    min-width: 890px;
    margin: auto;
    padding: 0;
}

.main {
    background-color: white;
    display: flex;
    margin: auto;
    min-height: 100vh;
}

.left-part {
    width: 30%;
    background: url(./images/background.jpg) no-repeat center bottom;
    background-size: cover;
    position: relative;
}

.right-part {
    width: 70%;
    background-color: rgb(250, 243, 243);
    display: flex;
    flex-direction: column;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 100px 200px 25px 25px;
    font: var(--font-default);
}

.information > p > span {
    font-style: italic;
}

.right-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 10px 200px 15px 25px;
    box-shadow: 0 15px 20px -17px gray;
}

.right-main > p {
    font: var(--font-default);
}

.forms {
    display: flex;
    flex-wrap: wrap;
}

.form {
    width: 50%;
    padding-bottom: 15px;
}

input, label {
    display: flex;
    flex-direction: column;
}

label {
    font: 600 1.2vh 'Roboto', serif;
    letter-spacing: 2px;
}

input {
    width: max(150px, 22vw);
    height: 30px;
    border: solid 1px rgb(223, 233, 241);
    border-radius: 8px;
}

input:focus {
    outline: rgb(159, 163, 167);    
    box-shadow: 0 2px 5px rgb(90, 182, 212);
}

.footer {
    padding: 25px 0 115px 25px;
}

.footer > p {
    font: 2vh 'Roboto', serif;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
    height: 15%;
    background: rgba(5, 5, 5, .6);
    color: white;
    text-align: center;
    font-family: Norse, serif;
    font-size: 12vh;
}

.logo > img {
    max-width: 90%;
    max-height: 90%;
}

.photo-credits {
    position: absolute;
    bottom: 0;
    padding: 0 auto;
    color: white;
    width: 100%;
    text-align: center;
    font: 1.5vh 'Roboto', serif;
}

.photo-credits > p > a {
    color: white;    
}

.footer > button {
    background-color: #27301f;
    padding: 15px 8vh;
    border: none;
    border-radius: 5px;
    color: white;
    font: 400 calc(1.2vh + 0.5vw) 'Roboto', serif;
}

.footer > button:hover {
    cursor: pointer;
    background-color: #3b492f;
}

.footer > button:active {
    box-shadow: inset 5px 5px #586b46;
}

.footer > p > a {
    color: #27301f;
    font-weight: 600;
    text-decoration: none;
}

.footer > p > a:hover {
    color: #586b46;
}

#password-check {
    color: red;
}

@media screen and (max-width: 950px) {
    html, body {
        min-width: 200px;
    }

    .main {
        min-height: 100%;
        min-width: 280px;
        flex-direction: column;
    }

    .left-part {
        width: 100%;
        background: none;
        background-color: #27301f;
        height: 100%;
    }

    .logo {
        background: none;
        margin-top: 0;
        font-size: 8vh;
    }

    .logo > img {
        max-height: 200px;
        height: 20vh;
    }

    .right-part {
        width: 100%;
    }

    .information {
        padding: 20px 30px 25px 25px;
    }

    .right-main {
        padding: 20px 30px 25px 25px;
    }

    .forms {
        display: unset;
    }

    #password-check {
        padding-top: 5px;
    }

    input {
        width: 80vw;
    }

    .footer {
        padding: 35px 0 25px;
        text-align: center;
    }

    .footer > button {
        font: 2vh 'Roboto', serif;
    }

    .photo-credits {
        display: none;
    }
}